*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Play, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

body {
  padding: 0;
  margin: 1vh 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #32233e;
}

.container {
  display: flex;
  align-items: center;
  width: 40%;
  height: 60%;
  background-color: rgb(203, 149, 197);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.right {
  position: relative;
}

.left {
  position: relative;
}

.text {
  position: fixed;
  align-items: center;
  overflow: auto;
  width: 40%;
  padding: 1%;
  z-index: 1;
}

.btn-grid {
  display: table-column;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  background-color: rgb(97, 66, 114);
  border: 1px solid;
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(221, 165, 213);
  outline: none;
}

.btn:hover {
  background-color: rgb(246, 196, 239);
  border-color: black;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

/* Introductory page */

#intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
}

.popout-menu {
  position: relative;
  width: 0;
  overflow: hidden;
}

.popout-menu button {
  display: block;
  margin: 5px 0;
  padding: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.popout-menu.left {
  position: absolute;
  margin-left: -115px;
  z-index: 2;
}

.popout-menu.right {
  position: absolute;
  margin-left: -115px;
  z-index: 2;
}

.popout-menu.open {
  width: 100px;
}

.controls {
  margin-top: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
